<header class="app-header">
    <nav class="container">
        <a class="brand" [routerLink]="['', 'about']">
            <img src="assets/images/pgs_logo.png" alt="pgs_logo"/>
        </a>
        <ul class="nav">
            <li class="nav-item">
                <a [routerLink]="['', 'about']" routerLinkActive="active" class="nav-link">About us</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['', 'skicams']" routerLinkActive="active" class="nav-link">Skicams</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['', 'contact']" routerLinkActive="active" class="nav-link">Contact</a>
            </li>
        </ul>
    </nav>
</header>
<main class="app-main">
    <router-outlet></router-outlet>
</main>
<footer class="app-footer">
    <p>Powered by PGS</p>
</footer>
